services:
  mongo:
    image: mongo:7
    container_name: mongo2
    restart: unless-stopped
    command: mongod --replSet rs0 --bind_ip_all
    ports:
      - "27017:27017"
    volumes:
      - mongo2_data:/data/db

volumes:
  mongo2_data:

