services:
  redis:
    image: redis:7.2-alpine
    container_name: redis3
    network_mode: host
    command: >
      redis-server
      --bind 0.0.0.0
      --port 6379
      --protected-mode no
      --appendonly no
      --save ""
      --replicaof 192.168.122.18 6379

