port 26379
bind 0.0.0.0
protected-mode no

sentinel monitor mymaster {{ redis_master_ip }} 6379 2
sentinel down-after-milliseconds mymaster 5000
sentinel failover-timeout mymaster 60000
sentinel parallel-syncs mymaster 1
