services:
  mongo:
    image: mongo:7
    container_name: mongo1
    restart: unless-stopped
    command: mongod --replSet rs0 --bind_ip_all
    ports:
      - "27017:27017"
    volumes:
      - mongo1_data:/data/db

volumes:
  mongo1_data:

